 .top-menu,#copyright-wrapper{background:#161716!important;color:#fff!important;}
.nav-menu,header[data-item] h1 span:after,.Mm-box .item .post-app,.label-size a,.blog-pager span.pagecurrent,header[data-item],.content-block,.navigation-right a i,.navigation-left a i,.comment-actions > a,.comment-actions span{background:#1e211e!important;color:#fff!important;}
.blog-pager span.pagecurrent{background-color:#1e211e!important;color:#fff!important;}
a,a:link,a:visited,a:active,.nav-menu .menu li a,.Mm-box .item .post-app h1 a,.box-title .title,.nav-menu .home,.nav-menu .btn_search,header[data-item] h1,.post-body,.Mm-box .item .post-app h1 a,#footer-wrapper a,.menu-respon-butt,.comments-list .comment-content,header[data-item] h1 span:after{color:#dad9d9!important;}
.Mm-box .item .post-app .d-rating i{color:#828282!important;}
#wrapper{background:#2b2b2b!important;}
.label-size{background:transparent!important;}
.box-title .title{border-bottom:3px solid #dad9d9!important;color:#dad9d9!important;}
.nav-menu .home{border-left:2px solid #dad9d9!important;}
.nav-menu .btn_search{border-right:2px solid #dad9d9!important;}
.top-menu ul li a:hover{background:#ffffff!important;color:#111!important;}
body{background:#2b2b2b!important;}
.post-body h3,.post-body h2,.post-body h4{border-bottom:3px solid #dad9d9!important;background:#1e211e!important;color:#dad9d9!important;}
.btn-dwn:after,.datetime.secondary-text a{color:#2b2b2b!important;}
a.btn-dwn,.share-menu li a,.dwn-tech a{color:#111!important;}
.nav-menu .menu{background:#2b2b2b!important;border-right:2px solid #fff!important;color:#fff!important;}
header[data-item] .details a[rel="bookmark"],.datetime.secondary-text,.loadmore a{background:#dad9d9!important;color:#111!important;}
.postage a,#blog-pager a{color:#fff!important;}
.postage span{background:#fff!important;color:#111!important;}
.share-menu li a,.owl-theme .owl-controls .owl-dot.active span,.owl-theme .owl-controls .owl-dot:hover span,.btn-dwn{background:#fff!important;}
